<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>
<body>
  <h1>Tasks as of <%= time %></h1>
  <a href="/tasks/new">Add Task</a>

  <ul>
    <% tasks.forEach(task => { %>
      <li>
        <form action="/tasks/<%= task._id %>?_method=DELETE" 
          class="delete-form"
          method="POST"
        >
          <button type="submit">X</button>
        </form>

				<a href="/tasks/<%= task._id %>"><%= task.text %></a> 
				- 
				<%= task.done ? 'done' : 'not done' %>
			</li>
    <% }) %>
  </ul>
  <a href="/">Home</a>
</body>
</html>